/* Custom properties */
:root{
    --first-color:#fff;
    --first-alpha-color:#41A4F5;
    --second-color:#6d59b6;
    --second-alpha-color:#060911;
    --third-color:#ED3825;
    --third-alpha-color:#0471F6;
    --whithe-color:#B8BDBB;
    --gray-light-color:#ffa07a67;
    --gray-color:#fa80724b;
    --gray-dark-color:#20B2AA;
    --black-color:#09172A;
    --link-color:#008080;
    --title-color: #0B3961;
    --text-color:rgb(4, 60, 163);
    --whithe-alpha-color:rgba(105, 105, 105, 0.229);
    --black-alpha-color:rgb(7, 14, 30);
    --font:'Playfair Display', serif;  
    --max-width: 1200px;
    --header-height:4rem;
}

/* reset */
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*, 
*::after,
*::before{
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
    background-color: #09172A;
}

a {
    color: var(--link-color);
    transition: all 0.5s ease-out;
}

a:hover {
    opacity: 0.75;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

h4 {
    margin: 0;
    font-size: 1rem;
}

h5 {
    margin: 0;
    font-size: 0.85rem;
}

h6 {
    margin: 0;
    font-size: 7rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6;
}

/* components */

/* Herolmage */
.hero-image {
    background-image: var(--hero-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: var(--attachment);
}

.hero-image-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--hero-opacity-color);
}

.hero-image-title {
    color: var(--hero-text-color);
    font-size: 3.5vw;
    filter: drop-shadow(16px 16px 20px rgb(82, 8, 92));
}

/* menu */
.menu-btn {
    outline: thin solid var(--gray-color);
    border: 0;
    cursor: pointer;
    background-color: var(--second-alpha-color);
}

.menu-btn svg {
    fill:var(--black-color);
}

.menu {
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
   background-color: var(--second-alpha-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5 ease;
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

.menu a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
}

.menu a:hover {
    color: var(--gray-light-color);
    background-color: var(--second-color);
}

@media screen and (min-width: 1024px) {
    .menu-btn {
        display: none;
    }
    .menu {
        position: static;
        width: auto;
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
    }
    .menu a {
        padding: 0 1rem;
    }
    menu a:last-child{
        padding-right: 0;
    }
    .menu a:hover {
        background-color: transparent;
    }
}
/* Modal */
.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-light-color);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modal-content {
    position: relative;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal-close svg {
    width: 3rem;
    height: 3rem;
    fill: var(--gray-dark-color);
}

.modal[id|="trabajo"]:target {
    opacity: 1;
    pointer-events: auto;
}
/* progress */

progress{
    width: 100%;
    height: 1rem;
    background-color:var(--first-alpha-color);
}
progress::-webkit-progress-bar{
    background-color: var(--title-color);
}
progress::-webkit-progress-value{
    background-color: var(--third-color);
}
progress::-moz-progress-bar{
    background-color: var(--black-colorr);
}
.progress {
    margin: 1rem auto;
}
.progress > p {
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: .85rem;
}

/* utilities */

.bg-gray-ligtht {
    background-color: var(--whithe-alpha-color);
}

.box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgb(0,0,0.25);
}

.btn {
    border-radius: .5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color:var(--first-alpha-color);
    background-color: var(--black-color);
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    
}

.gray-scale {
    filter: grayscale(1);

   /* filter: blur(5px); */
}

.none {
    display: none;
}

.section {
    padding: 2rem 1rem;
}

.section-title {
    border-top: thin solid var(--second-alpha-color);
    border-bottom: thin solid var(--second-alpha-color);
    color: var(--third-color);
    margin: 2rem auto;
    padding: 1rem 1rem;
    text-align: center;
    width: 250px;

}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

@media screen and (min-width: 1024px) {
    .full-lg-screen {
        width: 100%;
        min-height: 100vh;
    }
    .text-lg-center {
        text-align: center;
    }
    .text-lg-left {
        text-align: left;
    }
    .text-lg-right {
        text-align: right;
    }
}

/* site style */
.about > article {
    margin-bottom: 2rem;
}

.contact-card {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.contact-card > img {
    width: 3rem;
    height: 3rem;
}

.contact-card > small {
    margin-top: -1rem;
}

.header {
    position: fixed;
    /* left: 0;
    bottom: 0; */
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-alpha-color);
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: var(--first-alpha-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
}

.portfolio-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.portfolio-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio-card-info {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding:  1rem;
    background-color: var(--whithe-alpha-color);
    color: var(--third-alpha-color);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

.portfolio-card:hover .portfolio-card-info {
    opacity: 1;
    pointer-events: auto;
}

.portfolio-card-info > div {
    padding: 1.5rem;
    border: thin solid var(--black-color);
    height: 100%;
    width: 100%;
}

.portfolio-modal {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 550px;
    background-color: var(--first-color);
}

.portfolio-modal h3 {
    border-bottom: medium solid var(--third-alpha-color);
    margin: 1rem auto;
    padding: 0.5rem 0;
    color: var(--first-alpha-color);
}

.portfolio-details {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: 2rem;
}

.portfolio-details b {
    color: var(--second-alpha-color);
}

.service-card {
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

.service-card svg{
    margin-bottom: 1.25rem;
    fill: var(--first-alpha-color);
}

.service-card h3 {
    color: var(--second-alpha-color);
}

.social-media a {
    padding: 0 0.4rem;
    text-decoration: none;
}

.social-media svg {
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (min-width: 768px) {
    .contact-cards {
        display: grid;
        grid-template-columns: repeat(2,48%);
        justify-content: space-between;
    }
    .portfolio > .container{
        display: grid;
        grid-template-columns: repeat(2,50%);
    }

    .portfolio .section-title {
        grid-column: span 2;
        align-self: center;
    }

    .portfolio-modal {
        max-width: 800px;
        flex-direction: row;
    }

    .portfolio-info {
        margin-left: 1rem;
    }

    .services > .container {
        display: grid;
        grid-template-columns: repeat(2,45%);
        justify-content: space-between;
        align-content: center;
    }

    .services .section-title {
        grid-column: span 2;
    }
}

@media screen and (min-width: 1024px) {
    .about {
        display: grid;
        grid-template-columns: repeat(3,30%);
        justify-content: space-between;
        align-content: center;
    }
    .contact-cards {
        grid-template-columns: repeat(4,24%);
    }
    .header {
        position: sticky;
        top:0;
        padding: 0.5rem;
        height: calc(var(--header-height)-0.5rem);
    }
    .services > .container {
        grid-template-columns: repeat(3,30%);
    }
    
    .services .section-title {
        grid-column: span 3;
    }
   
}